# пример заполнения: https://example.com, http://0.0.0.0:80
NEXT_PUBLIC_PLAYER_PARSER_URL= # Домен сервиса player-parsers, требуется для работы встроенного плеера
NEXT_PUBLIC_SHARE_PREFIX=      # Домен для префикса в ссылке "Поделится", если не назначен, используется официальное превью
NEXT_PUBLIC_API_URL=           # Домен сервиса api-prox, для использования своего сервера API вместо встроенного middleware
METADATA_BASE_URL=             # (DEPRECATED) Домен по которому будет доступен клиент, для генерации OpenGraph метаданных
NEXT_PUBLIC_ANILIBRIA_API_URL= # Домен API Anilibria, используется для поиска торрентов анилибриа, заполняется если основной домен не доступен. Default: https://anilibria.top
NEXT_PUBLIC_TORAPI_API_URL=    # Домен сервиса torapi (https://github.com/Lifailon/TorAPI), используется для поиска торрентов на rutracker, rutor, kinozal, nonameclub. Default: https://torapi.vercel.app
# ---