.swiper-button:global(.swiper-button-disabled) {
  opacity: 0 !important;
}

.section .swiper-button {
  display: none !important;
}

@media (hover: hover) and (min-width: 1024px) {
  .swiper {
    overflow: visible !important;
  }
}

@media (hover: hover) {
  .section:hover .swiper-button {
    display: flex !important;
    width: 64px;
    height: 64px;
  }
}
