/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* * {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body,
nav.left,
main {
  transition: background 0.2s;
  transform-origin: left;
  min-height: 100dvh;
}
